---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About frameworks and libraries for JavaScript I JS Technologies">
  <section class="py-20">
    <div class="container px-4 mx-auto flex flex-col gap-8">
      <h1 class="text-sky-500 text-2xl font-black text-center">About</h1>
      <p>
        The best JavaScript frameworks and libraries for frontend web
        development that enable optimal use of HTML, CSS and JavaScript by
        Elliot Garamendi.
      </p>
    </div>
  </section>
</Layout>
