---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Frontend frameworks and libraries I Elliot Garamendi">
  <section class="py-20">
    <div class="container px-4 mx-auto flex flex-col gap-8">
      <h1 class="text-sky-500 text-2xl font-black text-center">About</h1>
      <p>
        Best JavaScript frameworks and libraries for Frontend web development
        that enable optimal use of HTML, CSS and JavaScript.
      </p>
    </div>
  </section>
</Layout>
