---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  url={`http://localhost:4321/about`}
  title="About frameworks and libraries for JavaScript I JS Technologies"
  description="On the best JavaScript frameworks and libraries for frontend web development that allow optimal use of HTML, CSS and JavaScript by Elliot Garamendi."
  image="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png"
>
  <section class="py-20">
    <div class="container px-4 mx-auto flex flex-col gap-8">
      <h1 class="text-sky-500 text-2xl font-black text-center">About</h1>
      <p>
        The best JavaScript frameworks and libraries for frontend web
        development that enable optimal use of HTML, CSS and JavaScript by
        Elliot Garamendi.
      </p>
    </div>
  </section>
</Layout>
