---
import Card from "../components/Card.astro";
const response = await fetch("http://localhost:4321/data.json");
const data = await response.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>React</title>
	</head>
	<body>
		<section class="py-8">
			<div class="container px-4 mx-auto flex flex-col gap-8">
				<h1 class="text-sky-500 text-4xl font-black text-center">
					Frontend frameworks and libraries
				</h1>
				<ul
					class="grid grid-cols-[repeat(auto-fill,_minmax(320px,_1fr))] gap-6"
				>
					{
						data.map((element: object) => {
							return <Card data={element} />;
						})
					}
				</ul>
			</div>
		</section>
	</body>
</html>

<style>
	:root {
		color-scheme: dark;
	}
</style>
